on:
  push:
    branches:
      - main
      - staging
      - trying
  pull_request:

name: proj ci
jobs:
  # The `ci-result` job doesn't actually test anything - it just aggregates the
  # overall build status for bors, otherwise our bors.toml would need an entry
  # for each individual job produced by the job-matrix.
  #
  # Ref: https://github.com/rust-lang/crater/blob/9ab6f9697c901c4a44025cf0a39b73ad5b37d198/.github/workflows/bors.yml#L125-L149
  #
  # ALL THE SUBSEQUENT JOBS NEED THEIR `name` ADDED TO THE `needs` SECTION OF THIS JOB!
  ci-result:
    name: ci result
    runs-on: ubuntu-latest
    needs:
      - proj-ubuntu
      - proj-sys-ubuntu
      - proj-macos
      - proj-sys-macos
    steps:
      - name: Mark the job as a success
        if: success()
        run: exit 0
      - name: Mark the job as a failure
        if: "!success()"
        run: exit 1

  proj-ubuntu:
    name: proj ubuntu
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container_image:
          # Minimum supported rust (MSRV)
          - "georust/proj-ci:proj-9.0.0-rust-1.52"
          # Latest stable rust
          - "georust/proj-ci:proj-9.0.0-rust-1.59"
        features:
          - ""
          - "--features network"
          - "--features bundled_proj"
          - "--no-default-features"
          - "--features \"network bundled_proj\""
          - "--features \"network geo-types\""
          - "--features \"bundled_proj geo-types\""
          - "--features \"network bundled_proj geo-types\""
    container:
      image: ${{ matrix.container_image }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: cargo build ${{ matrix.features }}
      - run: cargo test ${{ matrix.features }}

  proj-macos:
    name: proj macos
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        features: ["", "--features network"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: cargo build ${{ matrix.features }}
      - run: cargo test ${{ matrix.features }}

  proj-sys-ubuntu:
    name: proj-sys ubuntu
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: proj-sys
    container: ${{ matrix.container }}
    strategy:
      matrix:
        include:
          # Minimum supported rust (MSRV)
          - container:
              image: georust/proj-ci:proj-9.0.0-rust-1.52
              env:
                _PROJ_SYS_TEST_EXPECT_BUILD_FROM_SRC: 0
            features: ""
          - container:
              image: georust/proj-ci:proj-9.0.0-rust-1.52
              env:
                _PROJ_SYS_TEST_EXPECT_BUILD_FROM_SRC: 1
            features: "--features bundled_proj"
          - container:
              image: georust/proj-ci-without-system-proj:proj-9.0.0-rust-1.52
              env:
                _PROJ_SYS_TEST_EXPECT_BUILD_FROM_SRC: 1
            features: ""

          # Latest stable rust
          - container:
              image: georust/proj-ci:proj-9.0.0-rust-1.59
              env:
                _PROJ_SYS_TEST_EXPECT_BUILD_FROM_SRC: 0
            features: ""
          - container:
              image: georust/proj-ci:proj-9.0.0-rust-1.59
              env:
                _PROJ_SYS_TEST_EXPECT_BUILD_FROM_SRC: 1
            features: "--features bundled_proj"
          - container:
              image: georust/proj-ci-without-system-proj:proj-9.0.0-rust-1.59
              env:
                _PROJ_SYS_TEST_EXPECT_BUILD_FROM_SRC: 1
            features: ""
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: cargo build ${{ matrix.features }}
      - run: cargo test ${{ matrix.features }}

  proj-sys-macos:
    name: proj-sys macos
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: macos-latest
    env:
      _PROJ_SYS_TEST_EXPECT_BUILD_FROM_SRC: 0
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: brew install proj
      - run: cargo test ${{ matrix.features }}
